In [1]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install webdriver_manager

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: webdriver_manager in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (3.8.5)
Requirement already satisfied: requests in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from webdriver_manager) (2.28.2)
Requirement already satisfied: python-dotenv in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from webdriver_manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from webdriver_manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from webdriver_manager) (22.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from requests->webdriver_manager) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from requests->webdriver_manager) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from requests->webdriver_manager) (2022.12.7)
Requirement already satisfied: colorama in c:\users\aekal\appdata\local\programs\python\python311\lib\site-packages (from tqdm->webdriver_manager) (0.4.6)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

In [2]:
import re
import time

In [3]:
from datetime import date
from datetime import timedelta

In [6]:
driver = webdriver.Chrome(ChromeDriverManager().install())
name_of_stock = 'TCS.NSE'
driver.get('https://stocktwits.com/symbol/'+name_of_stock)
html = driver.page_source
soup = BeautifulSoup(html)
# name_of_stock = input('Enter your stock name symbol')
# print(name_of_stock)
# https://stocktwits.com/symbol/TATASTEEL.NSE
# https://stocktwits.com/symbol/
driver.maximize_window()

# height = driver.execute_script("return document.body.scrollHeight")
# print(height)

C:\Users\aekal\AppData\Local\Temp\ipykernel_5752\3279649056.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [4]:
# box = soup.find_all(('div') ,{"class":"StreamMessage_main___aESy grid"})
# previous_day = 6
# date_value = []
# for element in box :
#     time_value   = element.find('time')['datetime']
#     date_value.append(time_value)

NameError: name 'box' is not defined

In [7]:
date_value_new = []       # use this data
for i in range(previous_day):
    today_date = date.today()
    yesterday_date = today_date - timedelta(days = i)
    date_value_new.append(yesterday_date)

In [6]:
date_value_new

[datetime.date(2023, 5, 15),
 datetime.date(2023, 5, 14),
 datetime.date(2023, 5, 13),
 datetime.date(2023, 5, 12),
 datetime.date(2023, 5, 11),
 datetime.date(2023, 5, 10)]

In [10]:
final_list = []
twit_indicate = driver.find_element(By.XPATH,"//time[contains(@datetime,'2023-04-01T14:39:08Z')]")
driver.execute_script("arguments[0].scrollIntoView();",twit_indicate)
box = soup.find_all(('div') ,{"class":"StreamMessage_main___aESy grid"})
for element in box :
    name_value   =  element.find(('span') , {"class" : 'StreamMessage_username-default__gka83 font-bold'}).text
    time_value   = element.find('time')['datetime']
    twits_value =  element.find(('div') , {"class" : 'RichTextMessage_body__Fa2W1 whitespace-pre-wrap'}).text
    box_info = {'Name':name_value,'Date':time_value,'Twits': twits_value}
    final_list.append(box_info)
import json
with open("stocktwits.json","w") as f :     #json ek package(class)   dumps is function
    json.dump(final_list,f)

In [11]:
final_list

[{'Name': 'nilay1996',
  'Date': '2023-04-06T04:13:28Z',
  'Twits': '$TCS.NSE  \n \n3245'},
 {'Name': 'sajal_thakkar',
  'Date': '2023-04-05T18:05:10Z',
  'Twits': '$TCS.NSE  \nThe stock is increasing from the last two trading sessions while trading below the EMA levels. MACD also has a slight bullish slant. As a result, the stock may trend upward in the following sessions. Bullish'},
 {'Name': 'pranavscharts',
  'Date': '2023-04-05T15:57:20Z',
  'Twits': "$TCS.NSE forming rounding bottom pattern on hhourly timeframe. \nThe neckline of the formation is also a crucial resistence on 0.5 Fibonacci level. \n \nLet's see where it goes....."},
 {'Name': 'Paresh02',
  'Date': '2023-04-05T14:50:13Z',
  'Twits': '$ADANIENT.NSE $TCS.NSE ðŸ¥‚'},
 {'Name': 'cyan22',
  'Date': '2023-04-05T13:18:32Z',
  'Twits': '$TCS.NSE https://tcs.com'},
 {'Name': 'Analyst_Aashay',
  'Date': '2023-04-05T05:56:27Z',
  'Twits': '$TCS.NSE hits the target!! stock trading in an overbought zone might see a small correction Bullish'},
 {'Name': 'Paresh02', 'Date': '2023-04-05T05:35:34Z', 'Twits': '$TCS.NSE  ðŸ¥‚.'},
 {'Name': 'az7aan',
  'Date': '2023-04-04T18:28:40Z',
  'Twits': "$TCS.NSE announced an equity reward of Rs 113 per share, yielding 3.62% . TCS's forward payout yield is 1.38% as of March 2023 . TCS's trailing yearly payout return is 1.44% as of April 2023 . TCS's dividend yield (TTM) was 3.20% as of March 4, 2023, according to another source, and the average income yield over the last five years was 2.10% . TCS distributes quarterly rewards to its shareholders."},
 {'Name': 'Neha06',
  'Date': '2023-04-04T16:29:23Z',
  'Twits': 'The Norwegian government agency Bane NOR has chosen $TCS.NSE to provide safe access to its digital infrastructure for workers, partners, and railway operators. Identity control and administration, access management, identity lifecycle management, and application management operations will be provided by TCS teams in Norway and Europe.'},
 {'Name': 'Kushal4',
  'Date': '2023-04-04T13:55:26Z',
  'Twits': "$TCS.NSE $NIFTYIT.NSE  \nIndia's IT services industry faces lingering growth uncertainty in FY 2024, Nomura analysts say in a research report. The Japanese investment bank's recent interactions with industry participants indicate a likely impact of macro slowdown and continuing high inflation in developed markets on the tech budget outlook for most industries this year, the analysts say. Recent volatility in the global financial sector could also increase demand uncertainty.  \nSlowdown is possible in IT industry of India. Bearish"},
 {'Name': 'vinithkumar',
  'Date': '2023-04-04T11:46:03Z',
  'Twits': '$TCS.NSE \nFirst will look for short term bull and then might get rejection from top from 3400 - 2950 wil be targeted'},
 {'Name': 'Payal_Nagpal',
  'Date': '2023-04-03T16:38:54Z',
  'Twits': '$TCS.NSE Stock is trading below Ema levels but it is rising from previous two trading sessions. Macd is also mildly bullish. Hence, stock may witness upward trend in upcoming sessions. Bullish'},
 {'Name': 'prakashtilokani06',
  'Date': '2023-04-03T14:07:09Z',
  'Twits': 'Important News \n$TCS.NSE  \nTCS to declare Q4 result on April 12.'},
 {'Name': 'Paresh02',
  'Date': '2023-04-03T12:32:31Z',
  'Twits': '$TCS.NSE \nLooking good on chart now. Buy for target of 3280 Bullish'},
 {'Name': 'tradersagar',
  'Date': '2023-04-03T08:32:59Z',
  'Twits': 'âœ… $TCS.NSE  News: \nâ–¶ $TCS.NSE: Tata Consultancy Services has been selected by Bane NOR, the Norwegian government agency responsible for maintaining, operating, and developing the Norwegian railway network, to enable secure access to the latterâ€™s digital systems. As its strategic partner, $TCS.NSEâ€™ teams based in Norway and across Europe will provide services spanning identity governance and administration (IGA), access management, identity lifecycle management and application management operations in a managed services model.'},
 {'Name': 'sahil1400',
  'Date': '2023-04-01T14:39:08Z',
  'Twits': '$TCS.NSE has shown a good bullish movement on the daily charts as it has given a breakout after consolidating in a small range for 1 week. Short term view stays remain bullish for this stock and can be accumulated for a swing trade.'},
 {'Name': 'Sharu918',
  'Date': '2023-04-01T13:21:38Z',
  'Twits': '$TCS.NSE If the stock breaks and sustains above 3211, can see a upward trend till 3482. Stop loss can be 3094. Bullish'},
 {'Name': 'az7aan',
  'Date': '2023-03-31T17:50:50Z',
  'Twits': '$TCS.NSE shares ended 2.13% higher on the NSE on Friday, at Rs 3,205 per share. So far this year, the shares have performed poorly, with the price down 1.69%. \n \nTCS, the IT services conglomerate, will begin off the fourth-quarter earnings season on April 12 by releasing its numbers. \n \nThe IT firm recorded a 5.3% sequential increase in consolidated sales to Rs 58,229 crore in the third quarter. In the third quarter, net earnings increased by roughly 4% to Rs 10,846 crore. TCS reported that sales increased 13.5% year on year in constant currency terms during the period.'},
 {'Name': 'nilay1996',
  'Date': '2023-03-31T17:16:52Z',
  'Twits': '$TCS.NSE  \n \nTCS looks bullish one can go long with stoploss of  3100. \nAs it takes support near 3100. after breakdown.'},
 {'Name': 'TraderSid21',
  'Date': '2023-03-31T09:57:15Z',
  'Twits': '$TCS.NSE looks like trying to bottom; stronger chart than $INFY.NSE since everyone is always trying to compare the two companies Bullish'},
 {'Name': 'Analyst_Aashay',
  'Date': '2023-03-31T07:23:00Z',
  'Twits': '$TCS.NSE  \nThe stock is moving as expected close to the 1st target of 3220.05. saw a very strong trend. Bullish'},
 {'Name': 'ResearchReportsNSE',
  'Date': '2023-03-31T06:57:51Z',
  'Twits': '$TCS.NSE Weakness in US BFSI and Hi-Tech can impact near-term growth: The company is seeing some weakness in US geography which is the delayed decision-making seen earlier in Europe. Some weaknesses seen in US BFSI and Hi-Tech till Feb (March tends to be the stronger month) can impact near-term growth.  \n \nDuring tough times, vendor consolidation intensifies and improves the clientâ€™s transformation and optimization journey (such as the recent BT deal). Gains from vendor consolidation may get offset by the tougher economic environment. Bullish'}]

In [48]:
# //time[contains(@datetime,'2023-04-01T13:21:38Z')]

# Yesterday converts into date

In [ ]:
# final_list_date = []
# for i in box:
#     date_value_indivitual = i.find(('time') , {"class" : 'StreamMessage_timestamp__CP2QT text-stream-text ml-2 text-[11px]'}).text
#     final_list_date.append(date_value_indivitual)

# final_list_date_new = []
# for i in final_list_date:
#     today_date = date.today()
#     yesterday_date = today_date - timedelta(days = 1)
#     str_yesterday_date = str(yesterday)
#     new_i = i.replace('Yesterday',str_yesterday_date)
#     final_list_date_new.append(new_i)
#     box_date_dict = {'Date':date_value_indivitual}

# underscore remove

In [ ]:
# final_list_date_new_replace = []

# for i in final_list_date_new:
#     underscore_clear = i.replace('-',' ')
#     final_list_date_new_replace.append(underscore_clear)
#     datetime_object = datetime.strptime(i,'%b %d, %Y %M:%H %p')
#     final_convert.append(datetime_obejct)

In [ ]:
# list2 = []
# # list1 = ['2023 04 04 11:58 PM','2023 04 04 9:59 PM','2023 04 04 7:25 PM','Apr 03, 2023 10:08 PM','Apr 03, 2023 7:37 PM']

# for i in final_list_date_new_replace:
#     patt = re.compile(r'^(20){1}')
#     matches = patt.finditer(i)
#     for match in matches:
#         match.count()

In [ ]:
# today = date.today()
# yesterday = today - timedelta(days = 1)
# list1 = ['Yesterday 01/05/2023','Yesterday 01/06/2073','Yesterday 02/95/8787']
# for i in list1:
#     new_i = i.replace('Yesterday',str_yesterday)
#     print(new_i)

In [ ]:
# //time[contains(@class,'StreamMessage_timestamp__CP2QT text-stream-text ml-2 text-[11px]')]

# Lets start with data cleaning

In [31]:
# date_value_new

In [32]:
# date_value_change = []
# for i in date_value_new :
#     change = str(i)
#     print(type(change))
#     date_value_change.append(change)
# print('---------------')
# df_sample = pd.DataFrame(date_value_new)
# df_sample[0].info()

In [35]:
# df.head(20)

In [36]:
# date_value_change

In [37]:
# for n in df['Date']:
#     if n in not date_value_change:
#         df.loc[(df.Date[n])].drop 
#         df.drop([n],axis = 0)
#         df.drop([n], inplace = True)
#         df = df.drop(n,axis = 0)

In [ ]:
# df.loc[(df.Date == '2023-04-05')]

In [ ]:
# DataFrame.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
# df.drop(['B', 'C'], axis=1)

In [47]:
start_date = '2023-04-06' 
end_date   = '2023-03-06'

# Convert the datetime type into str type

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
pd.pandas.set_option('display.max_columns' , None)

In [41]:
df = pd.read_json('stocktwits.json')

In [42]:
df.head()

,Name,Date,Twits
0,nilay1996,2023-04-06 04:13:28+00:00,$TCS.NSE \n \n3245
1,sajal_thakkar,2023-04-05 18:05:10+00:00,$TCS.NSE \nThe stock is increasing from the l...
2,pranavscharts,2023-04-05 15:57:20+00:00,$TCS.NSE forming rounding bottom pattern on hh...
3,Paresh02,2023-04-05 14:50:13+00:00,$ADANIENT.NSE $TCS.NSE ðŸ¥‚
4,cyan22,2023-04-05 13:18:32+00:00,$TCS.NSE https://tcs.com

In [44]:
df['Date'] = df['Date'].astype(str)

In [45]:
df[['Date','Time']] = df.Date.str.split(" ",expand=True)

In [46]:
df.head()

,Name,Date,Twits,Time
0,nilay1996,2023-04-06,$TCS.NSE \n \n3245,04:13:28+00:00
1,sajal_thakkar,2023-04-05,$TCS.NSE \nThe stock is increasing from the l...,18:05:10+00:00
2,pranavscharts,2023-04-05,$TCS.NSE forming rounding bottom pattern on hh...,15:57:20+00:00
3,Paresh02,2023-04-05,$ADANIENT.NSE $TCS.NSE ðŸ¥‚,14:50:13+00:00
4,cyan22,2023-04-05,$TCS.NSE https://tcs.com,13:18:32+00:00