In [4]:
name = ['Rahul','moin','abdullah','tarun']
twits = ['a','b','c','d']
b_and_be = ['bullish','bearish','bullish','bearish']
date = ['5555','6666','7777','8888']

In [36]:
final_df_ready = []

In [39]:
for n in name :
    name_ = {'name_id' : n} 
    final_df_ready.append(name)    # .text

In [40]:
final_df_ready

[['Rahul', 'moin', 'abdullah', 'tarun'],
 ['Rahul', 'moin', 'abdullah', 'tarun'],
 ['Rahul', 'moin', 'abdullah', 'tarun'],
 ['Rahul', 'moin', 'abdullah', 'tarun'],
 ['Rahul', 'moin', 'abdullah', 'tarun']]

In [29]:
twits_value = []
for t in twits :
    twits_value.append(t)    # .text

In [24]:
bull_bear =[]
for b in b_and_be:
    bull_bear.append(b)      # .text

In [25]:
date_value = []
for d in date :
    date_value.append(d)        #.text

In [26]:
print(date_value)

['5555', '6666', '7777', '8888']

In [30]:
dict_final = {"Date" : date_value , "Bull_Bear" : bull_bear,"twits":twits_value,"Name of id":name_value}

In [31]:
print(dict_final)

{'Date': ['5555', '6666', '7777', '8888'], 'Bull_Bear': ['bullish', 'bearish', 'bullish', 'bearish'], 'twits': ['a', 'b', 'c', 'd'], 'Name of id': ['Rahul', 'moin', 'abdullah', 'tarun']}

In [20]:
import pandas as pd

In [33]:
df = pd.DataFrame(data=dict_final)

In [34]:
df.head()

   Date Bull_Bear twits Name of id
0  5555   bullish     a      Rahul
1  6666   bearish     b       moin
2  7777   bullish     c   abdullah
3  8888   bearish     d      tarun