In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import re

In [4]:
pd.pandas.set_option('display.max_columns' , None)

In [5]:
stock = pd.read_csv('google_pytrend_MovingAverage.csv')

In [6]:
stock.columns

Index(['Unnamed: 0', 'symbol', 'company', 'symbol_sum', 'company_sum', 'date',
       'Unnamed: 6', '30DayAvg_SymbolSum', 'Symbol_Sum_Index',
       '30DayAvg_CompanySum', '30DayAvg_Combined', 'Combined_Index',
       'Unnamed: 12'],
      dtype='object')

In [7]:
stock.drop(['30DayAvg_Combined' , 'Combined_Index' , 'Unnamed: 12' ] , axis = 1 , inplace = True)

In [8]:
stock.drop(['company'] , axis = 1 , inplace = True)

In [9]:
stock.drop(['company_sum'] , axis = 1 , inplace = True)

In [10]:
stock.rename(columns = {'Unnamed: 6' : 'recheck_avg'},inplace = True)

In [11]:
stock.head()

,Unnamed: 0,symbol,symbol_sum,date,recheck_avg,30DayAvg_SymbolSum,Symbol_Sum_Index,30DayAvg_CompanySum
0,0,ABBV,0,1/2/2016,NaN,NaN,NaN,NaN
1,1,ABBV,15,1/3/2016,NaN,NaN,NaN,NaN
2,2,ABBV,69,1/4/2016,NaN,NaN,NaN,NaN
3,3,ABBV,49,1/5/2016,NaN,NaN,NaN,NaN
4,4,ABBV,109,1/6/2016,NaN,NaN,NaN,NaN

In [59]:
stock.dtypes

Unnamed: 0               int64
symbol                  object
symbol_sum               int64
date                    object
recheck_avg            float64
30DayAvg_SymbolSum     float64
Symbol_Sum_Index       float64
30DayAvg_CompanySum    float64
dtype: object

In [12]:
list27 = [i for i in range (365)]

In [13]:
og = 0
main = 31

In [14]:
for element in list27:
    start = list27.index(og)
    end = list27.index(og+main)
    og = og + 1
    element = element + 1
    temp_df = stock.iloc[start:end]
    mean_temp_df = temp_df['symbol_sum'].iloc[:-1].mean()
    print(mean_temp_df)
    
    
    break
# for i in range(30,33):
#     stock.loc[i,'recheck_avg'] = mean_temp_df

66.66666666666667