In [1]:
import pandas as pd
import re

In [2]:
bike = pd.read_csv('bike_data.csv')

In [4]:
bike['Year'] = bike['Name'].str.extract('(\d\d\d\d)',expand=True)
bike['Year']

0        2018
1        2017
2        2013
3        2017
4        2018
         ...
34495    2017
34496    2012
34497    2015
34498    2005
34499    2008
Name: Year, Length: 34500, dtype: object

In [21]:
bike['Power_bike'] = bike['Name'].str.extract('(\d\d\d)')
bike

,Unnamed: 0,Name,Price,Location,Running,Owner,Year,Power_bike
0,0,TVS Star City Plus Dual Tone 110cc 2018,"35,000",Ahmedabad,"17,654 Km",First Owner,2018,110
1,1,Royal Enfield Classic 350cc 2017,"1,19,900",Delhi,"11,000 Km",First Owner,2017,350
2,2,Triumph Daytona 675R 2013,"6,00,000",Delhi,110 Km,First Owner,2013,675
3,3,TVS Apache RTR 180cc 2017,"65,000",Bangalore,"16,329 Km",First Owner,2017,180
4,4,Yamaha FZ S V 2.0 150cc-Ltd. Edition 2018,"80,000",Bangalore,"10,000 Km",First Owner,2018,150
...,...,...,...,...,...,...,...,...
34495,34495,Hero Passion Pro 100cc 2017,"39,000",Delhi,"22,000 Km",First Owner,2017,100
34496,34496,TVS Apache RTR 180cc 2012,"30,000",Karnal,"6,639 Km",First Owner,2012,180
34497,34497,Bajaj Avenger Street 220 2015,"60,000",Delhi,"20,373 Km",First Owner,2015,220
34498,34498,Hero Super Splendor 125cc 2005,"15,600",Jaipur,"84,186 Km",First Owner,2005,125
34499,34499,Bajaj Pulsar 150cc 2008,"22,000",Pune,"60,857 Km",First Owner,2008,150

In [20]:
bike['Power_bike'].isnull().values.any()

False

In [3]:
print('hello world please give me some reason ')

hello world please give me some reason