In [36]:
import pandas as pd

In [37]:
import numpy as np

In [19]:
import re

In [38]:
pd.pandas.set_option('display.max_columns' , None)

In [39]:
stock = pd.read_csv('google_pytrend_MovingAverage.csv')

In [40]:
stock.drop(['30DayAvg_Combined' , 'Combined_Index' , 'Unnamed: 12' ] , axis = 1 , inplace = True)
stock.drop(['company'] , axis = 1 , inplace = True)
stock.drop(['company_sum'] , axis = 1 , inplace = True)
stock.rename(columns = {'Unnamed: 6' : 'recheck_avg'},inplace = True)

In [42]:
stock.head(20)

,Unnamed: 0,symbol,symbol_sum,date,recheck_avg,30DayAvg_SymbolSum,Symbol_Sum_Index,30DayAvg_CompanySum
0,0,ABBV,0,1/2/2016,NaN,NaN,NaN,NaN
1,1,ABBV,15,1/3/2016,NaN,NaN,NaN,NaN
2,2,ABBV,69,1/4/2016,NaN,NaN,NaN,NaN
3,3,ABBV,49,1/5/2016,NaN,NaN,NaN,NaN
4,4,ABBV,109,1/6/2016,NaN,NaN,NaN,NaN
5,5,ABBV,19,1/7/2016,NaN,NaN,NaN,NaN
6,6,ABBV,133,1/8/2016,NaN,NaN,NaN,NaN
7,7,ABBV,72,1/9/2016,NaN,NaN,NaN,NaN
8,8,ABBV,103,1/10/2016,NaN,NaN,NaN,NaN
9,9,ABBV,12,1/11/2016,NaN,NaN,NaN,NaN
10,10,ABBV,102,1/12/2016,NaN,NaN,NaN,NaN
11,11,ABBV,93,1/13/2016,NaN,NaN,NaN,NaN
12,12,ABBV,173,1/14/2016,NaN,NaN,NaN,NaN
13,13,ABBV,74,1/15/2016,NaN,NaN,NaN,NaN
14,14,ABBV,136,1/16/2016,NaN,NaN,NaN,NaN
15,15,ABBV,43,1/17/2016,NaN,NaN,NaN,NaN
16,16,ABBV,11,1/18/2016,NaN,NaN,NaN,NaN
17,17,ABBV,56,1/19/2016,NaN,NaN,NaN,NaN
18,18,ABBV,38,1/20/2016,NaN,NaN,NaN,NaN
19,19,ABBV,82,1/21/2016,NaN,NaN,NaN,NaN

In [41]:
stock = stock.loc[stock['symbol'] == 'ABBV']

In [52]:
start = 0
end = 31
mean_row = 30
for i , row in stock.iterrows():
    thirty_rows = stock.iloc[start:end]
    mean_temp_stock = thirty_rows['symbol_sum'].iloc[:-1].mean()
    stock.loc[mean_row,'recheck_avg'] = mean_temp_stock
    mean_row = mean_row + 1
    start = start + 1
    end = end + 1
    
    if end == 41:
        break
#     for i in range(30,40):
#         stock.loc[i,'recheck_avg'] = mean_temp_stock

In [29]:
stock = stock.iloc[:80]

In [53]:
stock.head(40)

,Unnamed: 0,symbol,symbol_sum,date,recheck_avg,30DayAvg_SymbolSum,Symbol_Sum_Index,30DayAvg_CompanySum
0,0,ABBV,0,1/2/2016,NaN,NaN,NaN,NaN
1,1,ABBV,15,1/3/2016,NaN,NaN,NaN,NaN
2,2,ABBV,69,1/4/2016,NaN,NaN,NaN,NaN
3,3,ABBV,49,1/5/2016,NaN,NaN,NaN,NaN
4,4,ABBV,109,1/6/2016,NaN,NaN,NaN,NaN
5,5,ABBV,19,1/7/2016,NaN,NaN,NaN,NaN
6,6,ABBV,133,1/8/2016,NaN,NaN,NaN,NaN
7,7,ABBV,72,1/9/2016,NaN,NaN,NaN,NaN
8,8,ABBV,103,1/10/2016,NaN,NaN,NaN,NaN
9,9,ABBV,12,1/11/2016,NaN,NaN,NaN,NaN
10,10,ABBV,102,1/12/2016,NaN,NaN,NaN,NaN
11,11,ABBV,93,1/13/2016,NaN,NaN,NaN,NaN
12,12,ABBV,173,1/14/2016,NaN,NaN,NaN,NaN
13,13,ABBV,74,1/15/2016,NaN,NaN,NaN,NaN
14,14,ABBV,136,1/16/2016,NaN,NaN,NaN,NaN
15,15,ABBV,43,1/17/2016,NaN,NaN,NaN,NaN
16,16,ABBV,11,1/18/2016,NaN,NaN,NaN,NaN
17,17,ABBV,56,1/19/2016,NaN,NaN,NaN,NaN
18,18,ABBV,38,1/20/2016,NaN,NaN,NaN,NaN
19,19,ABBV,82,1/21/2016,NaN,NaN,NaN,NaN
20,20,ABBV,38,1/22/2016,NaN,NaN,NaN,NaN
21,21,ABBV,38,1/23/2016,NaN,NaN,NaN,NaN
22,22,ABBV,41,1/24/2016,NaN,NaN,NaN,NaN
23,23,ABBV,47,1/25/2016,NaN,NaN,NaN,NaN
24,24,ABBV,81,1/26/2016,NaN,NaN,NaN,NaN
25,25,ABBV,129,1/27/2016,NaN,NaN,NaN,NaN
26,26,ABBV,48,1/28/2016,NaN,NaN,NaN,NaN
27,27,ABBV,96,1/29/2016,NaN,NaN,NaN,NaN
28,28,ABBV,55,1/30/2016,NaN,NaN,NaN,NaN
29,29,ABBV,38,1/31/2016,NaN,NaN,NaN,NaN
30,30,ABBV,37,2/1/2016,66.666667,66.666667,0.555000,420.266667
31,31,ABBV,41,2/2/2016,67.900000,67.900000,0.603829,429.666667
32,32,ABBV,66,2/3/2016,68.766667,68.766667,0.959767,439.766667
33,33,ABBV,80,2/4/2016,68.666667,68.666667,1.165049,443.300000
34,34,ABBV,81,2/5/2016,69.700000,69.700000,1.162123,446.433333
35,35,ABBV,0,2/6/2016,68.766667,68.766667,0.000000,442.200000
36,36,ABBV,26,2/7/2016,68.133333,68.133333,0.381605,434.933333
37,37,ABBV,72,2/8/2016,64.566667,64.566667,1.115126,425.133333
38,38,ABBV,91,2/9/2016,64.566667,64.566667,1.409396,423.466667
39,39,ABBV,96,2/10/2016,64.166667,64.166667,1.496104,430.533333